<!DOCTYPE html>
<html lang="en">

{{>head}}


<body>



{{>nav}}


<!-- MAin sectuion -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
                 <div class="col-md-6 col-12 main_header_right" >
                <!-- <img src="img/wether.gif" class="w-100" alt=""> -->
                <figure>
                    <img src="img/profile.png" class="img-fluid" alt="">
                </figure>
              
              </div>
              <!-- left side content -->
              <div class="col-md-6 col-12 main_header_left" >
               <p>I am </p>
               <h1> <span class="wet">Vinay Kumar Maurya . </span> Web Devloper | Learner</h1>
               <a href="https://drive.google.com/file/d/14XDw3GBHSzgqPwLf7IbsIkyLQko2CtRz/view?usp=drivesdk" target="blank"><button>Download CV</button></a>
              </div>
                       <!-- left side content -->
           
          </div>
        </div>
    </div>
</div>

<footer>
    <p>Created with ❤️ by Vinay</p>
</footer>
</body>
</html>