<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
 
{{>nav}}

<!-- MAin sectuion -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
         
         <div class="wet-content">
             <form class="form">
             <input type="text" placeholder="Enter Your city" id="cityname" autocomplete="off">
             <input type="submit" value="Search" id="submitbtn">
             </form>
         </div>
         <div class="output">
             <div class="toplayer">
                 <p id="day">Tuesday</p>
                 <p id="date">12133 </p>
             </div>
             <div class="mainlayer">
             <p id="city">Get Output here</p>
             <div  class="middlelayer data_hide">
                 <p id="temp"><span>0</span> <sup>o</sup> C </p>
                 <p id="tempimg">sffsfssf</p>
             </div>
             </div>
         </div>
        </div>  
    </div>
</div>

<footer>
    <p>Created with ❤️ by Vinay</p>
</footer>

<script src="js/main.js"></script>
</body>
</html>