@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
:root{
    --main-bg:rgba(0, 0, 0, 0.712);
    --main-color:#0096e6;
}
html{
    font-size: 62.5%;
    
}
body{
    font-family: 'Merienda', cursive;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #62b8f5, #4475ef);
}
.main_menu{
    background-color:var(--main-bg);
}
.navbar{
    font-family: "Poppins", sans-serif;
    color: var(--main-color);
    
    padding: 1rem 0;
 
}
.navbar li{
  margin-left: 2rem;
}
.navbar a{
    color: white;
    font-size: 1.8rem;
}
.navbar a:hover{
    color: var(--main-color);
    text-decoration:overline;
}
.navbar-toggler{
    /* background-image: url("../img/sun.png"); */
    background-color: rgba(96, 101, 75, 0.804);
    /* color: white; */
    border: 2px solid  rgb(217, 205, 205);
    border-radius: 1px;
}

.navbar-brand{
  text-shadow: 12px 5px 10px black;
}
/* erroe page */
.errimg{
    margin-top: 160px;
    
}
.w-100{
  
    margin-top: 10px;
    height: 500px;
    border-radius: 230px;
    box-shadow: 1px 1px 10px -3px black;
    opacity: .8;
}
.main_header_left{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left p{
    font-size: 3rem;
}

.main_header_left h1{
    font-size: 3.4rem;
    text-transform: uppercase;
    margin: 1rem 0 4rem 0 ;
}
.main_header_left .wet{
    color: rgba(121, 206, 240, 0.977);
    text-shadow: 2px 2px 10px black;
}
.main_header_left button{
    padding: .8rem 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.4rem;
    transition: .3s;
    background-color: rgba(83, 83, 224, 0.404);
    color: white;
    text-shadow: 4px 4px 10px black;
    box-shadow: 0px 8px 6px -6px black;
    text-transform: uppercase;
}
.main_header_left button:hover{
    transform:translateY(7px);
    box-shadow: 0px 1px var(--main-color);
}
.main_header_right{
    height: 48rem;
    /* width: 30rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* footer */
footer{
    width: 100%;
    background-color: black;
    margin-top: auto;
}
footer p{
    margin: 0px;
    text-align: center;
    color: white;
    font-size: 1.4rem;
    line-height: 3rem;
}



 /* aboutttt */

 figure img{
     height: 200px;
    padding: 0px 50px;
 }






@media (max-width:490px){
    .main_header_left{
        font-size: 16px;
    }
    .w-100{
  
        /* margin-top: 10px; */
        /* width: 200px; */
        height: 450px;
        border-radius: 30px;
        box-shadow: 1px 1px 10px -3px black;
        /* opacity: .8; */
    }
    figure img{
        height: 200px;
       padding: 0px 10px;
       border-radius: 20px;
    }
    body{
     
        height: 130vh;
    }
    .cont{
        position: absolute;
        top: 330px;
        
    }
    .cont p{
        position: absolute;
        top: 60px;
    }
    .cont h1{
        font-size: 3rem;
    }
}
